{% load static %}
<!doctype html>
<html>
<head>
    <title>{{ title }}{% block title %}{% endblock %}</title>
    <script src="https://kit.fontawesome.com/f2577888b8.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Great+Vibes&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/layout1.css' %}">
    <script src="{% static 'js/read.js' %}"></script>
    <script src="{% static 'js/recipe.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/card-layout.css' %}">
    <link rel="stylesheet" href="{% static 'css/img-slider.css' %}">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    <link rel="stylesheet" href="{% static 'css/recipe.css' %}">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" charset="utf-8"></script>
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">

</head>
<body>
    {% include 'partials/navbar.html' %}
    <div class="background">
    {% block content %}

    {% endblock %}
    </div>
    {% include 'partials/footer.html' %}

</body>
</html>