<div class="page-footer">
    <div class="footer-container">
         <div class="info">
            <h1>Information</h1>
            <ul>
                <li><a href="#" class="contact-lists">About us </a></li>
                <li><a href="#" class="contact-lists">Our services </a></li>

            </ul>
        </div>
        <div class="contact-us">
            <h1>contact us</h1>
            <ul>
                <li><a href="#" class="contact-lists">mail@mail.com</a></li>
                <li>9823737333</li>
            </ul>
        </div>

    </div>
</div>