{% load static %}
<header>
    <a class="logo" >हाम्रो Recipes</a>
            {% if user.is_authenticated %}
            <nav>
             <ul class="nav__links">
            <li><a href="{% url 'home' %}" class="lol">Home</a></li>
            <li><a href="{% url 'recipe' %}" class="lol">Recipes</a></li>
            <li><input type="text" name="search" placeholder="  search here">
                <a href="#" class="srch">
                    <i class="fas fa-search"></i>
                </a>
                </input>
            </li>
            <li><a href="{% url 'blog' %}" class="lol">Blog</a></li>
            <li><a href="{% url 'contact' %}" class="lol">Contact</a></li>
            <li><a href="#" class="lol">Hello, {{user.first_name}}</a></li>
             </ul>
            </nav>
            <a class="cta" href="{% url 'logout' %}"><button>Logout</button></a>
             {% else %}
            <nav>
             <ul class="nav__links">
                 <li><a href="/" class="lol">Home</a></li>
                 <li><a href="{% url 'contact' %}" class="lol">Contact</a></li>


             </ul>
            </nav>
    <div class="auth">
            <a class="cta" href="{% url 'login' %}" style="padding-right:10px"><button>Login</button></a>
            <a class="cta" href="{% url 'register' %}"><button>Register</button></a>
     </div>
            {% endif %}

</header>