section{
  margin: 0px;
  display: flex;
  flex-direction: column;
}
section .recipe-header h1{
  font-family: 'Monsterret', sans-serif;
}

section .leftcolumn{
  display: flex;
  flex-direction: column;
}

section .leftcolumn .newcard{
  display: flex;
  flex-direction: row;
  height: 60vh auto;
  margin: 20px;
}

section .leftcolumn .newcard .recipeimg img{
  height: 30vh;
  margin: 10px;
}
