{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="slider-container">
    <div id="slider">
        <figure>
            <img src="{% static 'image/khana.jfif' %}" alt="photo xaina">
            <img src="{% static 'image/photo.jpg' %}" alt="photo xaina">
            <img src="{% static 'image/khana1.png' %}" alt="photo xaina">
            <img src="{% static 'image/photo.jpg' %}" alt="photo xaina">
            <img src="{% static 'image/khana.jfif' %}" alt="photo xaina">
        </figure>
    </div>
</div>


<section>
    <div class="card-wrapper">
        {% for recipe in recipes %}
        <a href="post/{{ recipe.id }}"><div class="card-wrapper">
            <div class="card-container">
                <div class="header">
                    <p>{{ recipe.r_name }}</p>
                </div>
                <div class="card-body">
                    <div class="image-container">
                        {% if recipe.img %}
                        <img src="{{ recipe.img.url }}" alt="photo nai xaina"/>
                        {% endif %}
                    </div>
                </div>
                <div class="footer">
                    <p>{{ recipe.type }}</p>
                    <p> {{ recipe.username }}</p>
                </div>
            </div>
        </div></a>
        {% endfor %}
        <div class="menu">
            <div class="welcome">
                <h1>Welcome</h1>
                <p>we make it happen, something amazing for you everyday. </p>
            </div>
            <div class="menu-card">
                <div class="menu-container">
                    <div class="menu-header">
                        <p>Ads</p>
                    </div>
                    <div class="menu-footer">
                        <p>Other ads here</p>
                    </div>
                </div>
                <div class="menu-container">
                    <div class="menu-header">
                        <p>Ads</p>
                    </div>
                    <div class="menu-footer">
                        <p>Other ads here</p>
                    </div>
                </div>
            </div>
        </div>

        <section class="slider-container2">
            <div id="slider2">
                <figure>
                    <img src="{% static 'image/khana.jfif' %}" alt="photo xaina">
                    <img src="{% static 'image/khana.jfif' %}" alt="photo xaina">
                    <img src="{% static 'image/khana.jfif' %}" alt="photo xaina">
                    <img src="{% static 'image/khana.jfif' %}" alt="photo xaina">
                    <img src="{% static 'image/khana.jfif' %}" alt="photo xaina">
                </figure>
            </div>
        </section>

        <div class="profile">
            <div class="welcome">
                <h1>Cooking Institution</h1>
                <p class="cont"> Learn cooking with us</p>
            </div>
            <div class="profile-container">
                <div class="our-team">
                    <div class="picture">
                        <img class="img-fluid" src="{% static 'image/khana.jfif' %}">
                    </div>
                    <div class="team-content">
                        <h3 class="name"><a href="{% url 'institutes' %}">Institute of Culinary Arts</a></h3>
                        <h4 class="title">Balaju</h4>
                    </div>
                    <ul class="social">
                        <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-facebook"
                               aria-hidden="true"></a></li>
                        <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-twitter"
                               aria-hidden="true"></a></li>
                        <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-google-plus"
                               aria-hidden="true"></a></li>
                        <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-linkedin"
                               aria-hidden="true"></a></li>
                    </ul>
                </div>
                <div class="our-team">
                    <div class="picture">
                        <img class="img-fluid" src="{% static 'image/khana.jfif' %}">
                    </div>
                    <div class="team-content">
                        <h3 class="name">2 Sisters Nepal cooking School</h3>
                        <h4 class="title">Paknajol Marg</h4>
                    </div>
                    <ul class="social">
                        <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-facebook"
                               aria-hidden="true"></a></li>
                        <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-twitter"
                               aria-hidden="true"></a></li>
                        <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-google-plus"
                               aria-hidden="true"></a></li>
                        <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-linkedin"
                               aria-hidden="true"></a></li>
                    </ul>
                </div>
                <div class="our-team">
                    <div class="picture">
                        <img class="img-fluid" src="{% static 'image/khana.jfif' %}">
                    </div>
                    <div class="team-content">
                        <h3 class="name">Nepal Cooking School</h3>
                        <h4 class="title">Paknajol Marg</h4>
                    </div>
                    <ul class="social">
                        <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-facebook"
                               aria-hidden="true"></a></li>
                        <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-twitter"
                               aria-hidden="true"></a></li>
                        <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-google-plus"
                               aria-hidden="true"></a></li>
                        <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-linkedin"
                               aria-hidden="true"></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}