{% extends 'base.html' %}
{% load static %}
{% block title %}
Recipe | HamroRecipe
{% endblock %}
{% block content %}

<div class="recipe-holder">
    <h4 style="margin:20px" class="recipe">Food Recipes</h4>

    <div class="post-holder">
        {% for recipe in recipes %}
            {% if recipe.seen  == True %}
         <a href="post/{{ recipe.id }}"><div class="card-wrapper">
            <div class="card-container">
                <div class="header">
                    <p>{{ recipe.r_name }}</p>
                </div>
                <div class="card-body">
                    <div class="image-container">
                        <img src="{{ recipe.img.url }}" alt="photo nai xaina"/>
                    </div>
                </div>
                <div class="footer">
                    <p>{{ recipe.type }}</p>
                    <p>By {{ recipe.username }}</p>

                </div>
            </div>
        </div></a>
        {% endif %}
        {% endfor %}
    </div>

    <div class="recipe-form-holder">
        <h4>Share your Recipe with Us</h4>
        <form action="genrec" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <li><input type="text" name="r_name" placeholder="Recipe Name Here"></li>

            <li><h5>Category</h5></li>
            <li><select name="cat" id="category">
                <option value="Continental">Continental</option>
                <option value="Local">Local</option>
                <option value="Oriental">Oriental</option>
                <option value="Western">Western</option>
                <option value="Sweets">Sweets</option>
            </select></li>
            <li><h5>Type</h5></li>
            <li><select name="type" id="type">
                <option value="veg">Vegetarian</option>
                <option value="non-veg">Non-Vegetarian</option>
            </select></li>

            <li><h5>Incredients</h5></li>
            <li><select name="ingcount" >
                {% for i in count%}
                <option value="{{i}}">{{i}}</option>
                {%endfor%}
            </select></li>
            <li><h5>Procedure</h5></li>
            <li><select name="pcount" >
                {% for i in count%}
                <option value="{{i}}">{{i}}</option>
                {%endfor%}
            </select></li>


            <button type="submit">Submit</button>
            </li>
        </form>

    </div>
</div>
{% endblock %}